.lafeta {
  background-color: #FBC017;
  color: #1992CE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.lafeta h1 {
  font-weight: bolder;
}
.lafeta h2 {
  font-weight: bold;
}
.qanda {
  background-color: black;
  text-align: right;
  padding: 25px;
  font-size: large;
  margin: 10px;
}
.qanda h2 {
  color: white;
}
.qanda .answers button {
  border: 2px solid black;
  background-color: white;
  margin: 5px;
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.sendbtn {
  background-color: #1992CE;
  color: white;
  border: 2px solid black;
  padding: 25px;
  text-align: center;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
