<section class="pic">
  <div>
    <h2>الجزيرة للامتحانات</h2>
    <p>
      يسعى الجزيرة العالى ان يضيف للمجتمع المصري اضافات ايجابية متميزة وملموسة في مجالات الهندسة والتكنولوجيا والاعلام ونظم المعلومات وادارة الاعمال بمختلف تخصصاتها وذلك عن طريق تنمية وتثقيف شباب متعلم متطور لديه مهارات عقلية وابداعية متميزة ويتمتع بفهم وتعاطف مع الاخرين وقبول لهم .
    </p>
    <button routerLink="/signup" class="signup">سجل حسابك الان</button>
   </div>
  <img src="assets\firstpagewp.png" alt="">
</section>
