.maincont {
  border: 2.5px solid black;
  border-radius: 25px 0px;
  width: fit-content;
  height: fit-content;
  margin: 5px auto;
  background-image: url('/assets/signupwallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  filter: grayscale(100%);
  animation: AppearAfter 2s;
}
.signbtn {
  border: 0;
  background-color: #FBC017;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
select,
input {
  margin: 3px;
}
select {
  padding: 10px;
  border-radius: 7px;
}
form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  text-align: right;
  background-color: whitesmoke;
  color: black;
  border: 1px solid gray;
  border-radius: 7px;
  padding: 10px;
}
form i {
  color: white;
  padding: 10px;
  font-size: 50px;
}
.captchapanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
